*{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
   text-decoration: none;
}
.header{
    background-image: linear-gradient(to bottom, rgb(155, 155, 222) , pink);
    position:relative; 
    height: 100px;
}
.header__left{
    position: absolute;
    left:10px;
    top: 10px;
}

.header__left img{
    width:60px;
    height:78px;
 }
.header__right{
    position: absolute;
    top:35px;
    right:10px;
    
}
.navbar{
    position: sticky;
    top:0;
    background-image: linear-gradient(to right, yellow, rgb(238, 82, 82));
    height: 100px;
    text-align: center;
    padding-top: 35px;
    word-spacing: 25px;
    
}
.navbar a{
    color: white;
    font-weight: bolder;
   
}
.main{
    background-color: aqua;
}
section{
    position: relative;
}
.banner{
position: relative;
}
.text{
    position:absolute;
    top: 30%;
    left: 10%;
}

img{
    max-height: calc(100vh- 204px);
    width:100% ;
}
